footer.footer
	.site-container.footer__inner
		.footer__content.footer-desktop
			.footer__top
				.footer__column
					a(href="#").footer__column-name Наркомания
					.footer__list
						a(href="#").footer__link Вызов нарколога на дом
						a(href="#").footer__link Снятие ломки
						a(href="#").footer__link Лечение наркомании
						a(href="#").footer__link Лечение от спайса
				.footer__column
					a(href="#").footer__column-name Алкоголизм
					.footer__list
						a(href="#").footer__link Вывод из запоя
						a(href="#").footer__link Кодирование
						a(href="#").footer__link Лечение алкоголизма
						a(href="#").footer__link Детокс программа
				.footer__column
					a(href="#").footer__column-name Наркомания
					.footer__list
						a(href="#").footer__link Реабилитация наркозависимых
						a(href="#").footer__link Реабилитация алкоголиков
						a(href="#").footer__link Программа “12 шагов”
						a(href="#").footer__link Ресоциализация
				.footer__column
					a(href="#").footer__column-name Контакты
					.footer__address Самара, ул. Физкультурная 90-А, офис 314
					a(href="tel:+79170362600").footer__phone +7 (917) 036 26 00
					a(href="#" data-modal-class="callback").site-btn.site-btn--br.footer__call-btn
						span Обратный звонок
				.footer__column
					a(href="/").footer__logo
						img(src="./img/logo-small.svg" alt="logo").footer__logo-img

			.footer__bottom
				.footer__bottom-column
					.footer__bottom-txt
						| © Частный наркологический центр в Самаре и области «Феникс», 2012—2020 <br>
						| Лечение алкоголизма и наркомании <br>
						| Информируем Вас об осуществлении сотрудничества с организациями партнерами в сфере медицинских услуг.
				.footer__bottom-column
					a(href="#").footer__bottom-link Политика конфиденциальности
					a(href="#").footer__bottom-link Отказ от ответственности
					a(href="#").footer__bottom-link Согласие с рассылкой
					a(href="#").footer__bottom-link Карта сайта
		.footer__content.footer-mobile.webp-img.b-lazy(data-webp="./img/footer-bg.webp" data-img="./img/footer-bg.jpg")
			.footer__column
				a(href="/").footer__logo
					img(src="./img/logo-small.svg" alt="logo").footer__logo-img
			.footer__column
				a(href="tel:+79170362600").footer__phone +7 (917) 036 26 00
				.footer__address г. Самара, <br> ул. Физкультурная 90-А, офис 314
			.footer__column
				a(href="#").footer__link Наркомания
				a(href="#").footer__link Алкоголизм
				a(href="#").footer__link Реабилитация
				a(href="#").footer__link Контакты
			.footer__column
				a(href="#" data-modal-class="callback").site-btn.footer__call-btn
					span Обратный звонок


.popup.callback
	.popup__body
		.popup__inner
			.popup__close
				.popup__close-ico
			.popup__substrate
			.popup__content
				.popup__callback-form
					form.site-form
						.site-form__logo
							img(src="./img/logo-small.svg" alt="logo").site-form__logo-img
						.site-form__title Быстро избавим от запоя
						.site-form__caption Врач приедет в течении часа
						.site-form__row
							.site-form__input
								input(type="text" placeholder="Ваше имя")
						.site-form__row
							.site-form__input
								input(type="tel" inputmode="numeric" placeholder="+7(___)___-__-__" data-valid="phone")
						.site-form__btn
							a(href="javascript:void(0);").site-btn.submit-btn.site-form__btn-i
								span Заказать звонок

					.site-form-submit
						.site-form-submit__img
							img(src="./img/ico/sun.svg" alt="img").site-form-submit__img-i
						.site-form-submit__title Быстро избавим от запоя
						.site-form-submit__caption Врач приедет в течении часа
