header.header
  .header__inner
    ul.header__menu
      li.header__menu-item
        a(href="#").header__menu-link Наркомания
      li.header__menu-item
        a(href="#").header__menu-link Алкоголизм
      li.header__menu-item
        a(href="#").header__menu-link Реабилитация
      li.header__menu-item
        a(href="#").header__menu-link Цены
      li.header__menu-item
        a(href="#").header__menu-link Филиалы
      li.header__menu-item
        a(href="#").header__menu-link О нас
      li.header__menu-item
        a(href="#").header__menu-link Контакты

