header.header
  .header__inner
    .header__logo
      a(href="#")
        img(src="./img/logo-small.svg" alt="logo").footer__logo-img
    ul.header__menu
      li.header__menu-item
        a(href="#" data-title="Наркомания").header__menu-link
          span Наркомания
        ul.header__submenu
          li.header__submenu-item.mobile-back
            a(href="#").mobile-back-link Наркомания
          li.header__submenu-item
            a(href="#").header__submenu-link Вызов нарколога анонимно
          li.header__submenu-item
            a(href="#").header__submenu-link Лечение наркомании
          li.header__submenu-item
            a(href="#").header__submenu-link Лечение от спайсов
          li.header__submenu-item
            a(href="#").header__submenu-link Лечение зависимости от солей
          li.header__submenu-item
            a(href="#").header__submenu-link Снятие наркотической ломки
          li.header__submenu-item
            a(href="#").header__submenu-link Детоксикация при наркомании
          li.header__submenu-item
            a(href="#").header__submenu-link Ультрабыстрая опиоидная детоксикация
          li.header__submenu-item
            a(href="#").header__submenu-link Интервенция наркозависимых
          li.header__submenu-item
            a(href="#").header__submenu-link Признаки употребления наркотиков
          li.header__submenu-item
            a(href="#").header__submenu-link Виды наркотиков
          li.header__submenu-item
            a(href="#").header__submenu-link Тестирование на наркотики

      li.header__menu-item
        a(href="#" data-title="Алкоголизм").header__menu-link
          span Алкоголизм
        ul.header__submenu
          li.header__submenu-item.mobile-back
            a(href="#").mobile-back-link Алкоголизм
          li.header__submenu-item
            a(href="#").header__submenu-link Вызов нарколога на дом
          li.header__submenu-item
            a(href="#").header__submenu-link Кодирование от алкоголизма
          li.header__submenu-item
            a(href="#").header__submenu-link Вывод из запоя на дому
          li.header__submenu-item
            a(href="#").header__submenu-link Лечение алкоголизма
          li.header__submenu-item
            a(href="#").header__submenu-link Детоксикация при алкоголизме
          li.header__submenu-item
            a(href="#").header__submenu-link Лечение женского алкоголизма
          li.header__submenu-item
            a(href="#").header__submenu-link Мотивация на лечение от алкоголизма
          li.header__submenu-item
            a(href="#").header__submenu-link Наркологический диспансер

      li.header__menu-item
        a(href="#" data-title="Реабилитация").header__menu-link
          span Реабилитация
        ul.header__submenu
          li.header__submenu-item.mobile-back
            a(href="#").mobile-back-link Реабилитация
          li.header__submenu-item
            a(href="#").header__submenu-link Реабилитация наркозависимых
          li.header__submenu-item
            a(href="#").header__submenu-link Реабилитация алкоголиков
          li.header__submenu-item
            a(href="#").header__submenu-link Ресоциализация наркозависимых
          li.header__submenu-item
            a(href="#").header__submenu-link Лечение игромании
          li.header__submenu-item
            a(href="#").header__submenu-link Бесплатная консультация нарколога
      li.header__menu-item
        a(href="#" data-title="Цены").header__menu-link
          span Цены
        ul.header__submenu
          li.header__submenu-item.mobile-back
            a(href="#").mobile-back-link Реабилитация
          li.header__submenu-item
            a(href="#").header__submenu-link Условия проживания
          li.header__submenu-item
            a(href="#").header__submenu-link Отзывы
      li.header__menu-item
        a(href="#" data-title="Филиалы").header__menu-link
          span Филиалы
      li.header__menu-item
        a(href="#" data-title="О нас").header__menu-link
          span О нас
      li.header__menu-item
        a(href="#" data-title="Контакты").header__menu-link
          span Контакты

      li.header__menu-item.mobile
        span.header__menu-town г. Самара, <br> ул. Физкультурная 90-А, офис 314
      li.header__menu-item.mobile
        .header__menu-num
          a(href="tel:+79170362600") +7 (917) 036 26 00
          a(href='#') Бесплатная консультация (24/7)

    a(href="#").mobile.header__menu-btn

