extends _layout

block vars
	- var pageTitle = "Home page";
	- var pageClass = "homepage";

block content

	div.main-wrap
		div.prevpage
			a(href="./index1.html" target="_blank") Home
			a(href="./service.html" target="_blank") service
