extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "homepage loadpage";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    <picture>
      <source srcset="./img/awesomeWebPImage.webp" type="image/webp">
      <source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
      <img src="./img/creakyOldJPEG.jpg" alt="Alt Text!">
    </picture>

  div.main-wrap
    .top-block.webp-img
      .top-block__bg-img-wrap
        picture
          source(srcset="./img/index-top-bg.webp" type="image/webp")
          source(srcset="./img/index-top-bg.png" type="image/png")
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img").top-block__bg-img
        picture
          source(srcset="./img/top-mob.webp" type="image/webp")
          source(srcset="./img/top-mob.png" type="image/png")
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img").top-block__bg-img.mob
      .top-block__inner.site-container
        h1.top-block__title.site-title Лечение наркомании и алкоголизма в наркологическом центре <b> «Феникс» </b>
        .top-block__caption Наркологический центр в Самаре и Самарской области «Феникс»
        .top-block__office г. Самара, ул. Физкультурная 90-А, офис 314
        .top-block__call
          .top-block__call-inner
            .top-block__call-left
              a(href="tel:+79170362600") +7 (917) 036 26 00
              a(href="#") Бесплатная консультация (24/7)
            .top-block__call-right
              a(href="#" data-modal-class="callback").top-block__call-btn.site-btn
                span Обратный звонок

        .type-items
          .type-items__inner
            .type-items__item
              .type-items__img
                include ../img/ico/top-block-ico01.svg
              .type-items__txt Лечение <br> наркомании
            .type-items__item
              .type-items__img
                include ../img/ico/top-block-ico02.svg
              .type-items__txt Лечение <br> алкоголизма
            .type-items__item
              .type-items__img
                include ../img/ico/top-block-ico03.svg
              .type-items__txt Лечение <br> зависимости от спайса
            .type-items__item
              .type-items__img
                include ../img/ico/top-block-ico04.svg
              .type-items__txt Лечение <br> зависимости от солей
            .type-items__item
              .type-items__img
                include ../img/ico/top-block-ico05.svg
              .type-items__txt Лечение <br> игромании

    .servise
      .servise__inner.site-container
        h2.servise__title.site-h2 УСЛУГИ НАРКОЛОГИЧЕСКОГО ЦЕНТРА
        .servise__slider.swiper-container#servise-slider
          .servise__items.swiper-wrapper
            .servise__item.swiper-slide
              .servise__img
                picture
                  source(srcset="./img/services-img01.webp" type="image/webp")
                  source(srcset="./img/services-img01.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .servise__desc
                a(href="#").servise__name Вывод из запоя на дому и в клинике
                .servise__txt Снятие абстинентного синдрома при алкоголизме.
                .servise__price от 3 000 руб.
            .servise__item.swiper-slide
              .servise__img
                picture
                  source(srcset="./img/services-img02.webp" type="image/webp")
                  source(srcset="./img/services-img02.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .servise__desc
                a(href="#").servise__name УБОД
                .servise__txt Ультрабыстрая опиоидная детоксикация. Только в условиях клиники.
                .servise__price от 13 000 руб.
            .servise__item.swiper-slide
              .servise__img
                picture
                  source(srcset="./img/services-img03.webp" type="image/webp")
                  source(srcset="./img/services-img03.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .servise__desc
                a(href="#").servise__name Кодирование / Подшивание
                .servise__txt Создание отрицательного рефлекса на алкоголь.
                .servise__price от 4 500 руб.
            .servise__item.swiper-slide
              .servise__img
                picture
                  source(srcset="./img/services-img04.webp" type="image/webp")
                  source(srcset="./img/services-img04.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .servise__desc
                a(href="#").servise__name Вызов нарколога на дом
                .servise__txt Круглосуточная наркологическая помощь на дому.
                .servise__price от 3 000 руб.
            .servise__item.swiper-slide
              .servise__img
                picture
                  source(srcset="./img/services-img05.webp" type="image/webp")
                  source(srcset="./img/services-img05.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .servise__desc
                a(href="#").servise__name Снятие ломки
                .servise__txt Снятие абстинентного синдрома при наркомании.        Только в условиях клиники.
                .servise__price от 3 000 руб.
            .servise__item.swiper-slide
              .servise__img
                picture
                  source(srcset="./img/services-img06.webp" type="image/webp")
                  source(srcset="./img/services-img06.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .servise__desc
                a(href="#").servise__name Детоксикация
                .servise__txt Очищение организма от токсичных веществ при алкоголизме или наркомании. Чистка крови.
                .servise__price от 3 000 руб.
            .servise__item.swiper-slide
              .servise__img
                picture
                  source(srcset="./img/services-img07.webp" type="image/webp")
                  source(srcset="./img/services-img07.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .servise__desc
                a(href="#").servise__name Реабилитация в стационаре
                .servise__txt Психо-социальная реабилитации в закрытом стационаре по программе              «12 шагов».
                .servise__price от 15 000 руб.
            .servise__item.swiper-slide
              .servise__img
                picture
                  source(srcset="./img/services-img08.webp" type="image/webp")
                  source(srcset="./img/services-img08.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .servise__desc
                a(href="#").servise__name Мотивация  зависимых на лечение
                .servise__txt Если зависимый не хочет лечится или не признает проблему. Поможем убедить.
                .servise__price от 5 000 руб.


    .call-spec
      .call-spec__inner.site-container
        .call-spec__content
          .call-spec__top-txt
            span.call-spec__top-txt-title ВЫЕЗД СПЕЦИАЛИСТА НА ДОМ
            span.call-spec__top-txt-desc Скорая наркологическая помощь
          .call-spec__top-phone
            a(href="tel:+79170362600").call-spec__top-phone-i +7 (917) 036 26 00
            a(href="#" data-modal-class="callback").site-btn.site-btn--br.call-spec__top-phone-btn
              span Вызвать нарколога
          .call-spec__bottom-txt Вы всегда можете воспользоваться нашей помощью для мотивации на лечение или сопровождения до наркологического центра

    .about
      .about__inner.site-container
        h2.about__title.site-h2 О НАШЕМ НАРКОЛОГИЧЕСКОМ ЦЕНТРЕ
        .about__caption.site-caption Наркологический центр в Самаре и Самарской области «Феникс»
        .about__txt.site-text-block
          .site-text-block__txt
            .site-text-block__left-img
              picture.desctop
                source(srcset="./img/about-img01.webp" type="image/webp")
                source(srcset="./img/about-img01.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              picture.mobile-content
                source(srcset="./img/about-mob.webp" type="image/webp")
                source(srcset="./img/about-mob.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
            p.
              <span>Анонимный наркологический центр в Самаре «Феникс» давно работает в сфере лечения наркотической, алкогольной и других видов зависимостей.</span>
              Наше учреждение является одним из самых успешных медицинских клиник, которые готовы оказать любую экстренную наркологическую помощь на любой стадии зависимости. Наши филиалы расположены на всей территории Самарской области. Все центры оснащены комфортабельными условиями стационара и всем необходимым для полноценного лечения и реабилитации. Квалифицированный штат сотрудников состоит из дипломированных психологов, психиатров, психотерапевтов, наркологов и реабилитологов, которые доказали свой профессионализм множеством пациентов, вернувшихся к здоровой жизни.
            p.
              <b>Работа клиники основана на передовых и современных методиках, которые подбираются индивидуально для каждого клиента, исходя из ситуации больного.</b>
              Для заказа услуг достаточно позвонить к нам или оставить заявку на нашем сайте.
            p.
              Не откладывайте свои проблемы на потом. Мы уверены в своих возможностях и гарантируем полноценное выздоровление после прохождения всех мероприятий.

    .we-work
      .we-work__inner.site-container
        .we-work__top
          .we-work__img
            img(src='./img/doctor.svg' alt='img')
          .we-work__time 24/7
          .we-work__right
            span Мы работаем
            span без перерывов, выходных и праздников
        .we-work__service
          .we-work__service-title Наркология в городе Самара предоставляет ряд услуг:
          .we-work__service-items
            .we-work__service-item
              .we-work__service-i-title Детоксикация
              .we-work__service__txt организма от токсинов и ядов, которые накопились за весь период употребления психоактивных веществ.
            .we-work__service-item
              .we-work__service-i-title Медикаментозный курс
              .we-work__service__txt Включает в себя общеукрепляющие мероприятия, назначение витаминами и седативными препаратами.
            .we-work__service-item
              .we-work__service-i-title Кодирование от алкоголизма
              .we-work__service__txt Заключается в искусственной блокировке тяги к алкоголю.
            .we-work__service-item
              .we-work__service-i-title Выведение из запойного состояния
              .we-work__service__txt на дому и в стационаре. Процесс, который помогает пациенту избавиться от патологического состояния – запоя.
            .we-work__service-item
              .we-work__service-i-title Помощь при абстиненции или ломке
              .we-work__service__txt Главная задача этих мероприятий – это устранение болевых ощущений и подготовка к дальнейшему лечению больного.
            .we-work__service-item
              .we-work__service-i-title Лечение наркомании и алкоголизма
              .we-work__service__txt обеспечат возвращение к новой и здоровой жизни.
            .we-work__service-item
              .we-work__service-i-title Неотложная помощь нарколога на дому
              .we-work__service__txt Проводится специалистами клиники в индивидуальных ситуациях.
            .we-work__service-item
              .we-work__service-i-title Реабилитация наркозависимых
              .we-work__service__txt Восстановительная программа, основана на формировании человеческих ценностей и принципов.

        .we-work__bottom Частная наркологическая клиника в Самаре <b>«Феникс»</b> предоставляет платные услуги, но беспокоиться о ценах не стоит. Они все доступны для каждого из вас.


    .how-cure
      .how-cure__inner.site-container
        h2.how-cure__title.site-h2.site-h2--white Как мы лечим?
        .how-cure__items
          .how-cure__item
            .how-cure__img
              include ../img/ico/how-do-we-treat-ico01.svg
            .how-cure__txt Диагностика <br> текущего <br> состояния
          .how-cure__item
            .how-cure__img
              include ../img/ico/how-do-we-treat-ico02.svg
            .how-cure__txt Назначение <br> индивидуального плана <br> лечения
          .how-cure__item
            .how-cure__img
              include ../img/ico/how-do-we-treat-ico03.svg
            .how-cure__txt Снятие <br> симптомов
          .how-cure__item
            .how-cure__img
              include ../img/ico/how-do-we-treat-ico04.svg
            .how-cure__txt Курс <br> лечения

    .narco-help
      .narco-help__inner.site-container
        h2.narco-help__title.site-h2 Наркологическая скорая помощь
        .narco-help__caption.site-caption Наркологический центр <b>«Феникс»</b> ежедневно принимает пациентов, которые находятся на разных стадиях зависимости. Но мы готовы принять пациентов с запущенными формами заболевания, а также тех, кто проходил лечения ранее в наркологических диспансерах.
        .narco-help__subtitle Услуги клиники при скорой наркологической помощи состоят:
        .narco-help__desc
          .narco-help__left
            .narco-help__items
              .narco-help__item
                .narco-help__item-icon
                  include ../img/ico/services-ico01.svg
                .narco-help__item-info
                  .narco-help__item-name Медико-социальные мероприятия,
                  .narco-help__item-txt которые сориентированы на восстановление здоровья хронических форм алкоголизма или наркомании.
              .narco-help__item
                .narco-help__item-icon
                  include ../img/ico/services-ico02.svg
                .narco-help__item-info
                  .narco-help__item-name Детоксикация организма,
                  .narco-help__item-txt которая включает в себя введение в организм больного специальных препаратов, что помогают вывести токсины из него.
              .narco-help__item
                .narco-help__item-icon
                  include ../img/ico/services-ico03.svg
                .narco-help__item-info
                  .narco-help__item-name Вывод из запоя
                  .narco-help__item-txt в стационаре и на дому. Проводится при необходимости срочно прийти в трезвое состояние, а также в случае отравления этилом.
          .narco-help__right
            .narco-help__img
              picture.desctop
                source(srcset="./img/services-clinic-img01.webp" type="image/webp")
                source(srcset="./img/services-clinic-img01.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              picture.mobile-content
                source(srcset="./img/narco-mob.webp" type="image/webp")
                source(srcset="./img/narco-mob.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
            .narco-help__txt
              p.
                Неотложная скорая помощь наркологического центра <b>«Феникс»</b> анонимна и проводится в тайне от посторонних. Данные о зависимости никуда не передаются.
              p.
                Выполняя строгие предписания по лечению зависимости наших специалистов, приведут гарантировано к 100% результату. Несмотря на то что «Феникс» – платная наркологическая клиника, все цены на услуги доступны абсолютно каждому.

    .warrranty
      .warrranty__inner.site-container
        .warrranty__title Гарантии центра лечения зависимостей в Самарской области “Феникс”
        .warrranty__txt
          .warrranty__left
            .warrranty__check.check-items
              .check-item Все процедуры анонимны.
              .check-item Курс возможно пройти как в стационаре центра, так и амбулаторно.
              .check-item Перед назначением терапий, пациенту проводят тщательное обследование и диагностику. Это позволит определить у больного присущие противопоказания или хронические заболевания.
              .check-item Все программы разрабатываются индивидуально для каждого пациента.
              .check-item В случае отказа зависимого проходить лечение, мы используем метод интервенции.
              .check-item Специалисты обеспечат поддержку на протяжении всего периода лечения, а также дистанционно после него.
              .check-item Курс лечения оканчивается реабилитацией, которая поможет избежать рецидива заболевания.
          .warrranty__right
            a(href="#").warrranty__img
              picture
                source(srcset="./img/video-preview-img.webp" type="image/webp")
                source(srcset="./img/video-preview-img.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              .warrranty__img-play
                include ../img/ico/play.svg

      .warrranty__bottom.site-container Наркологический центр <b>«Феникс»</b> в Самаре и Самарской области использует только современные методики, которые доказали свою эффективность, а медицинский персонал регулярно доказывает свой профессионализм победами над пагубными привычками.


    .sertificate
      .sertificate__inner.site-container
        .sertificate__content
          .sertificate__title ЛИЦЕНЗИЯ И СЕРТИФИКАТЫ
          .sertificate-slider.swiper-container#sertificate-slider
            .sertificate__items.swiper-wrapper
              a(href="./img/sertific01.png").sertificate__item.swiper-slide
                picture
                  source(srcset="./img/sertific01.webp" type="image/webp")
                  source(srcset="./img/sertific01.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              a(href="./img/sertific02.png").sertificate__item.swiper-slide
                picture
                  source(srcset="./img/sertific02.webp" type="image/webp")
                  source(srcset="./img/sertific02.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              a(href="./img/sertific03.png").sertificate__item.swiper-slide
                picture
                  source(srcset="./img/sertific03.webp" type="image/webp")
                  source(srcset="./img/sertific03.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
              a(href="./img/sertific04.png").sertificate__item.swiper-slide
                picture
                  source(srcset="./img/sertific04.webp" type="image/webp")
                  source(srcset="./img/sertific04.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

            .site-container

              .swiper-button-wrap
                .swiper-button-prev
                  include ../img/ico/arrow-w.svg
                .swiper-button-next
                  include ../img/ico/arrow-b.svg


    .pricing
      .pricing__inner.site-container
        .pricing__title Услуги и цены
        .pricing__items
          .pricing__item
            .pricing__name Консультация психиатра-нарколога для родственников пациента
            a(href="#").pricing__btn Бесплатно
          .pricing__item
            .pricing__name Лечение наркотической абстиненции средней степени тяжести в медцентре (снятие ломки)
            a(href="#").pricing__btn 5 000 руб.
          .pricing__item
            .pricing__name Консультация врача психиатра-нарколога для пациента
            a(href="#").pricing__btn 1 000 руб.
          .pricing__item
            .pricing__name Кодирование от алкоголизма
            a(href="#").pricing__btn от 4 500 руб.
          .pricing__item
            .pricing__name Вывод из запоя в клинике
            a(href="#").pricing__btn от 3 000 руб.
          .pricing__item
            .pricing__name Реабилитация в коттеджном доме
            a(href="#").pricing__btn от 25 000 руб.
          .pricing__item
            .pricing__name УБОД (ультрабыстрая опиоидная детоксикация)
            a(href="#").pricing__btn от 13 000 руб.
          .pricing__item
            .pricing__name Лечение наркотической абстиненции (снятие ломки)
            a(href="#").pricing__btn от 3 000 руб.
          .pricing__item
            .pricing__name Имплантация «Налтрексон» на срок от 3 мес.
            a(href="#").pricing__btn от 10 000 руб.

        a(href="#").pricing__view-all Все услуги

    .reviews
      .reviews__title ОТЗЫВЫ РОДСТВЕННИКОВ ПАЦИЕНТОВ
      .reviews__slider.swiper-container#reviews-slider
        .reviews__items.swiper-wrapper
          .reviews__item.swiper-slide
            .reviews__item-content
              .reviews__left
                .reviews__img
                  picture
                    source(srcset="./img/reviews-avatar01.webp" type="image/webp")
                    source(srcset="./img/reviews-avatar01.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
                .reviews__name Михаил, Тольятти
                .reviews__data 12 апреля, 2020
              .reviews__right
                .reviews__txt.
                  Сделали с женой огромную ошибку - отпустили нашего сына учиться в Ростов в университете. К сожалению, ему передались гены моего отца, и он не смог стать самостоятельным мужчиной в свои 19 лет. Поскольку я уже знал признаки алкоголизма и как не нужно
                  поступать с алкоголиками на примере отношений моей матери и отца, срочно привез сына домой...
                a(href="#").reviews__btn Подробнее

          .reviews__item.swiper-slide
            .reviews__item-content
              .reviews__left
                .reviews__img
                  picture
                    source(srcset="./img/reviews-avatar01.webp" type="image/webp")
                    source(srcset="./img/reviews-avatar01.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
                .reviews__name Михаил, Тольятти
                .reviews__data 12 апреля, 2020
              .reviews__right
                .reviews__txt.
                  Сделали с женой огромную ошибку - отпустили нашего сына учиться в Ростов в университете. К сожалению, ему передались гены моего отца, и он не смог стать самостоятельным мужчиной в свои 19 лет. Поскольку я уже знал признаки алкоголизма и как не нужно
                  поступать с алкоголиками на примере отношений моей матери и отца, срочно привез сына домой...
                a(href="#").reviews__btn Подробнее

          .reviews__item.swiper-slide
            .reviews__item-content
              .reviews__left
                .reviews__img
                  picture
                    source(srcset="./img/reviews-avatar01.webp" type="image/webp")
                    source(srcset="./img/reviews-avatar01.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
                .reviews__name Михаил, Тольятти
                .reviews__data 12 апреля, 2020
              .reviews__right
                .reviews__txt.
                  Сделали с женой огромную ошибку - отпустили нашего сына учиться в Ростов в университете. К сожалению, ему передались гены моего отца, и он не смог стать самостоятельным мужчиной в свои 19 лет. Поскольку я уже знал признаки алкоголизма и как не нужно
                  поступать с алкоголиками на примере отношений моей матери и отца, срочно привез сына домой...
                a(href="#").reviews__btn Подробнее

          .reviews__item.swiper-slide
            .reviews__item-content
              .reviews__left
                .reviews__img
                  picture
                    source(srcset="./img/reviews-avatar01.webp" type="image/webp")
                    source(srcset="./img/reviews-avatar01.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
                .reviews__name Михаил, Тольятти
                .reviews__data 12 апреля, 2020
              .reviews__right
                .reviews__txt.
                  Сделали с женой огромную ошибку - отпустили нашего сына учиться в Ростов в университете. К сожалению, ему передались гены моего отца, и он не смог стать самостоятельным мужчиной в свои 19 лет. Поскольку я уже знал признаки алкоголизма и как не нужно
                  поступать с алкоголиками на примере отношений моей матери и отца, срочно привез сына домой...
                a(href="#").reviews__btn Подробнее

        .site-container.swiper-relative
          .swiper-pagination

          .swiper-button-wrap
            .swiper-button-prev
              include ../img/ico/arrow-w.svg
            .swiper-button-next
              include ../img/ico/arrow-b.svg





