extends _layout

block vars
  - var pageTitle = "Service page";
  - var pageClass = "pageservice";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    <picture>
      <source srcset="./img/awesomeWebPImage.webp" type="image/webp">
      <source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
      <img src="./img/creakyOldJPEG.jpg" alt="Alt Text!">
    </picture>

  div.main-wrap
    .site-container
      h2.site-h2 экспресс вывод из запоя
      .site-tabs
        a(href="").site-tab Стандарт
        a(href="").site-tab Комфорт
        a(href="").site-tab VIP


    .course
      .site-container.course__inner
        h2.course__title.site-h2 Стоимость выведения из запоя в Самаре:
        .course__list
          .course__item
            .course__content
              .course__name СТАНДАРТ КУРС
              a(href="#").course__link Вывод из запоя на дому
              .course__sublist
                ul
                  li — Выезд врача нарколога
                  li — Осмотр и консультация
                  li — Детокс (1-2 капельницы)
                  li — Противорвотные препараты
                  li — Обезболивающие
                  li — Успокоительные препараты
                  li — Терапия на 3 дня (лекарственные препараты)
              .course__sublist-min
                ul
                  li - Препараты для снятия тяги
                  li - Кардиопротекторы
                  li - Гепатопротекторы
                  li - Витамины
                  li - Снятие и описание ЭКГ
              a(href="#").course__price
                | от &nbsp;
                span 3 000
                | &nbsp; руб.
          .course__item
            .course__content
              .course__name ПРЕМИУМ КУРС
              a(href="#").course__link Вывод из запоя на дому
              .course__sublist
                ul
                  li — Выезд врача нарколога
                  li — Осмотр и консультация
                  li — Детокс (2-3 капельницы)
                  li — Противорвотные препараты
                  li — Обезболивающие
                  li — Успокоительные препараты
                  li — Терапия на 3 дня (лекарственные препараты)
                  li — Препараты для снятия тяги
                  li — Кардиопротекторы
              .course__sublist-min
                ul
                  li - Гепатопротекторы
                  li - Витамины
                  li - Снятие и описание ЭКГ
              a(href="#").course__price
                | от &nbsp;
                span 5 000
                | &nbsp; руб.
          .course__item
            .course__content
              .course__name VIP КУРС
              a(href="#").course__link Стационар на дому
              .course__sublist
                ul
                  li — Выезд врача нарколога
                  li — Осмотр и консультация
                  li — Детокс (3-4 капельницы)
                  li — Противорвотные препараты
                  li — Обезболивающие
                  li — Успокоительные препараты
                  li — Терапия на 4-5 дня (лекарственные препараты)
                  li — Препараты для снятия тяги
                  li — Кардиопротекторы
                  li — Гепатопротекторы
                  li — Витамины
                  li — Снятие и описание ЭКГ
              a(href="#").course__price
                | от &nbsp;
                span 8 000
                | &nbsp; руб.




    .call-spec
      .call-spec__inner
        .call-spec__content
          .call-spec__top
            .call-spec__top-txt
              .call-spec__top-txt-title Мотивация зависимых
              .call-spec__top-txt-desc
                | Не знаете как уговорить близкого начать лечение? Мы поможем!
                | <br>
                | Специалисты центра по мотивации гарантированно убедят зависимого начать лечение.
            .call-spec__top-phone
              a(href="tel:+79170362600").call-spec__top-phone-i +7 (917) 036 26 00
              a(href="#").site-btn.call-spec__top-phone-btn
                span Вызвать нарколога
          .call-spec__bottom
            .call-spec__bottom-txt Позвоните по телефону горячей линии и получите бесплатную консультацию нарколога. Мы работаем круглосуточно 24/7


