@import "mixins.scss";



* {
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 400;
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

button{
  outline: 0;
}

.page__wrapper{
  overflow: visible;
  overflow-x: hidden;
  position: relative;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,p{
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-back{
  display: none;

  @include for-992{
    display: block;
  }
}

.mobile{
  display: none;

  @include for-992{
    display: initial;
  }
}

.header{
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.49);
  opacity: 0.9;

  @include for-992{
    align-items: flex-start;
    top: 0;

    background: rgba(255, 255, 255, 0.49);
    opacity: 0.9;
    height: 60px;
    transition: 0.3s;

    &.menu-open{
      background: #FFFFFF;
      opacity: 0.95;
      position: fixed;
    }
  }

  &__inner{
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 0 15px;

    @include for-992{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
  }

  &__logo{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;

    @include for-992{
      position: static;
      margin-top: 0;
      margin-left: 0;

      img{
        max-width: 40px;
      }
    }
  }

  &__menu{
    display: flex;

    @include for-992{
      position: absolute;
      flex-direction: column;
      right: 0;
      top: 60px;
      background: #FFFFFF;
      opacity: 0.95;
      width: 100%;
      height: calc(100vh - 60px);
      padding-top: 45px;
      padding-left: 20px;
      transform: translateX(-100%);
      transition: 0.3s;

      &.open{
        transform: translateX(0);
      }
    }
  }

  &__menu-item{
    position: relative;
    margin-right: 70px;

    &:nth-child(3){
      margin-right: auto;
    }

    &:nth-child(n+4){
      margin-right: 55px;
    }

    &.open .header__submenu{
      visibility: visible;
      z-index: 1;
      opacity: 1;

      @include for-992{
        transform: translateX(0);
      }
    }

    &:nth-child(7){
      margin-right: 0;

      @include for-992{
        margin-bottom: 105px;
      }
    }

    @include for-992{
      margin-bottom: 20px;
      position: static;
    }
  }

  &__menu-link{
    font-size: 11px;
    font-weight: 500;
    color: #414141;
    text-transform: uppercase;
    display: block;
    position: relative;
    width: 110%;

    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      height: 20px;
      width: 100%;
    }


    &:after{
      content: attr(data-title);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      font-size: 11px;
      opacity: 0;
      font-weight: 700;
      //background: white;
      width: 100%;
    }

    &:hover{

      &:after{
        opacity: 1;
      }

      span{
        opacity: 0;
      }
    }

    @include for-992{
      &:after{
        font-size: 13px;
      }
      font-size: 13px;
    }
  }

  &__submenu{
    position: absolute;
    top: 100%;
    margin-top: 17px;
    left: 0;
    background: white;
    box-shadow: 0 3px 15px rgba(74, 99, 254, 0.25);
    border-top: 1px solid rgba(74, 99, 254, 0.5);
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    padding: 22px;

    @include for-992{
      top: 7px;
      box-shadow: none;
      border: 0;
      left: 0;
      transform: translateX(-100%);
      transition: 0.3s;
      width: 100%;
      height: calc(340px);
    }
  }

  &__submenu-item{

  }

  &__submenu-link{
    white-space: nowrap;
    font-weight: 500;
    font-size: 10px;
    line-height: 250%;
    color: #000000;

    &:hover{
      font-weight: 700;
      color: #000000;
    }
  }


  &__menu-btn{
    @include for-992{
      display: block;
      width: 24px;
      height: 24px;
      background: url("../img/ico/burger.svg") center center no-repeat;
      transition: 0.2s;

      &.open{
        background: url("../img/ico/close.svg") center center no-repeat;
      }
    }


  }

  &__menu-town{
    font-size: 15px;
  }

  &__menu-num{
    display: flex;
    flex-direction: column;

    a{
      &:first-child{
        color: black;
        font-weight: 700;
      }

      &:last-child{
        color: #0170DD;
        font-size: 9px;
      }

    }
  }
}

.mobile-back-link{
  display: flex;
  align-items: center;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 15px;

  &:before{
    content: '';
    display: block;
    width: 23px;
    height: 16px;
    background: url("../img/ico/back.svg") center center no-repeat;
    margin-right: 15px;
  }
}


.top-block{
  padding-top: 200px;
}

